.main-body{
    text-align: center;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

body{
    background-image: linear-gradient(to right, red, blue);
}

.main-body{
    margin: 10px;
}

.second-body{
    text-align: center;
}

ul{
    text-align: center;
    list-style: inside;
}

.second-body{
    border: 10px dotted greenyellow;    
}

.third-body{
    width: 50%;
    height: 50%;
    text-align: center;
}